.canvasWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.main {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  background: #0d0d0d;
}

.section {
  position: relative;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  padding: 0 16px;
  justify-content: center;
  align-items: center;
  justify-items: center;

  text-align: center;

  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}


.title {
  mix-blend-mode: exclusion;
  position: relative;
  pointer-events: none;
  z-index: 1;
}

.description {
  font-size: 1.5em;
  font-weight: bold;
}

.row {
  display: flex;
  flex-flow: row nowrap;

  gap: 16px;
}

